@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --text: #0b0c0f;
    --background: #f5f7fa;
    --primary: #00205c;
    --secondary: #cccccc;
    --accent: #ff6600;
  }
  .dark {
    --text: #f0f1f4;
    --background: #05070a;
    --primary: #a3c3ff;
    --secondary: #333333;
    --accent: #ff6600;
  }
}

@layer utilities {
  .debug {
    @apply border-[1px] border-red-500;
  }
}
